form(method='POST' action='/projects/tools/create').add-item-form
  input(type='hidden', name='projectId', value=id)
  input(type='text', placeholder='Tool Name' name='tool' value='' autocomplete='off')
  input(type='number', placeholder='Price' name='toolPrice' value='' autocomplete='off')
  button(type='submit') Add