doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    
    // Fonts
    link(href='https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;900&display=swap' rel='stylesheet')
    
    link(rel='stylesheet' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
    
    link(rel='stylesheet' href='/css/style.css')

  body 
    h2 Users 
    
    div.users-list-container 
      each user in user_list 
        li #{user.email}
        form(method='POST' action='/users/delete').card-list-delete
          div
            input(type='hidden', name='userId', required='true', value=user.id)
          button(type='submit').fa.fa-trash.delete-item-button
      
      else 
        li There are no users
      
    