form(method='POST' action='/projects/materials/create').add-item-form
  input(type='hidden', name='projectId', value=id)
  input(type='text', placeholder='Material Name', autocomplete='off', name='material', value='')
  input(type='text', placeholder='Price', autocomplete='off', name='materialPrice', value='')
  button(type='submit') Add
  